html {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

}

body {
  width: 45rem;
  display: flex;
  flex-direction: column;
  background-color: #000051;
  color: #f4f4f4;
  
  font-family: Monospace;
  font-size: 1.25rem;
}

header {
  text-align: center;
}

h1, h2, h3 {
  color: #caca52;
  font-family: Sans-Serif;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 4rem;
}

ul {
  list-style-type: none; /* Remove bullets */
}

li {
  margin-bottom: 1rem;
}

p {
  line-height: 2.6rem;
}

footer {
  text-align: center;
}

.txt-bg {
  background-color: #caca52;
  color: #555527;
  border-radius: 3px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

